/* COMMONS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}
ul li {
    list-style: none;
}
ul li a {
    text-decoration: none;
}
h2 {
    color: white;
}
h3 {
    font-size: 12px;
    color: white;
}
.text-gray {
    font-size: 10px;
    font-weight: 600;
    color: gray;
}
.disappear {
    display: none;
}
.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 25px;
}

/* ***********mobile first view ********** */

/* MAIN */
main {
    height: calc(100vh - 60px);
}
.main-container {
    width: 100%;
    height: 100%;
    display: flex;
}
/* main aside */
.main-aside {
    min-width: 45px;
    min-height: 270px;  
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px 0;
}
.aside-top, .aside-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.small-logo {
    width: 26px;
}
.big-logo {
    display: none;
    width: 100px; 
}
.home-list li, .playlist li, .user-list li{
    height: 25px;
    line-height: 25px;
}
.main-aside img, .main-aside span {
    vertical-align: middle;
}
.aside-top .home-list {
    margin: 20px 0;
}
.aside-top .home-list img {
    width: 22px;
}
.aside-top .playlist h3 {
    text-transform: uppercase;
}
.aside-top .playlist .new-playlist {
    margin-bottom: 10px;
}
.aside-top .playlist .new-playlist span {
    font-size: 14px;
    font-weight: 500;
    color: gray;
}
.aside-top .playlist .new-playlist i {
    font-size: 30px;
    vertical-align: middle;
    color: gray;
}
.aside-bottom .user-list .download img {
    width: 15px;
}
.aside-bottom .user-list .user-icon img {
    height: 20px;
}
.aside-bottom .user-list .user-icon span {
    font-size: 15px;
    font-weight: 600;
    color: white;
}
/* main right */
.main-right {
    width: calc(100% - 45px);
    height: 100%;
    background: #141922;
    overflow-y: auto;
}
.topbar {
    width: calc(100% - 45px);
    height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    z-index: 9999;
}
.topbar .upgrade-flex {
    display: flex;
    justify-content: flex-end;
}
.topbar .upgrade-btn {
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 2rem;
    padding: 10px 22px;
}
.navbar {
    width: 100%;
    background: #141922;
    margin-top: 60px;
}
.nav-container {
    width: 100%;
    height: 100%;
}
nav {
    text-align: center;
}
.nav-list li {
    display: inline-block;
    margin: 10px;
}
.nav-list li a{
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: gray;
}
.main-content {
    padding: 20px;
}
.main-content .row-title {
    padding-left: 8px;
}
.main-content .item {
    width: calc(50% - 18px);
    margin: 8px;
}
.main-content .item .album-img img {
    width: 100%;
}
.main-content .item .album-description {
    text-align: center;
    padding: 5px;
}
.album-description h3 {
    margin-bottom: 5px;
}




/* FOOTER */
footer {
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9998;
}
.player-container {
    display: flex;
}
.playbar .bar{
    width: 40px;
    height: 3px;
    background-color: gray;
    border-radius: 2rem;
    margin-right: 10px;
}
.player-left {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.player-left .current-album-img img {
    width: 25px;
}
.player-left .current-album h4 {
    font-size: 12px;
}
.player-left .current-album p {
    font-size: 8px;
}
.player-left .favourite-folder-icon i {
    font-size: 14px;
    display: block;
}
.player-left > div {
    margin: 0 5px;
}
.player-right {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.player-right .right-icons i {
    font-size: 12px;
    margin: 5px;
}
.player-center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-grow: 3;
}
.player-center .control-bar {
    display: flex;
    align-items: center;
}
.playbar .bar.minute-bar {
    width: 100px;
    margin: 0 15px;
}
.player-center .player-btn i {
    margin: 10px 5px ;
}





/* *****DEBUG***** */

.debug footer {
    background-color: gray;
}
.player-container {
    width: 100%;
    height: 100%;
}
.debug .player-left {
    height: 100%;
    background-color: pink;
}
.debug .player-center {
    height: 100%;
    background-color: blue;
}
.debug .player-right{
    height: 100%;
    background-color: green;
}



@media screen and (min-width: 576px) {
    .disappear {
        display: inline-block; 
    }
    .main-aside {
        min-width: 150px;
        min-height: 300px;  
        padding: 5px;
    }
    .aside-top, .aside-bottom {
        align-items: flex-start;
    }
    .small-logo {
        display: none;
    }
    .big-logo {
        display: inline-block;
    }
    .main-right {
        width: calc(100% - 150px);
    }
    .topbar {
    width: calc(100% - 150px);
    }
    .player-left > div {
        margin: 0 10px;
    }
    .player-left .current-album-img img {
        width: 50px;
    }
    .player-left .current-album h4 {
        font-size: 15px;
    }
    .player-left .current-album p {
        font-size: 10px;
    }
}


@media screen and (min-width: 768px) {
    .main-content .item {
        width: calc(25% - 18px);
        margin: 8px;
    }
    .player-left .favourite-folder-icon i {
        display: inline-block;
    }
    .playbar .bar{
        width: 80px;
    }
    .playbar .bar.minute-bar {
        width: 250px;
    }
    .player-center .player-btn i {
        margin: 10px 10px ;
    }
}


@media screen and (min-width: 992px) {
    .row {
        flex-wrap: nowrap;
    }
    .main-content .item {
        width: calc(100% / 6 - 18px);
    }
}

