/* COMMONS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
}
h2 {
    color: white;
}
h3 {
    font-size: 12px;
    color: white;
}
.text-gray {
    font-size: 14px;
    font-weight: 600;
    color: gray;
}
.disappear {
    display: none;
}
.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 25px;
}
hr {
    width: 100%;
    color: gray;
    margin: 10px 0;
}

/* ***********mobile first view ********** */

/* MAIN */
main {
    height: calc(100vh - 75px);
}
.main-container {
    width: 100%;
    height: 100%;
    display: flex;
}
/* main aside */
.main-aside {
    min-width: 45px;
    min-height: 400px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px 0;
}
.aside-top, .aside-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.small-logo {
    width: 35px;
}
.big-logo {
    display: none;
    width: 130px; 
}
.main-aside img, .main-aside span {
    vertical-align: middle;
}
.home-list li, .playlist li {
    height: 30px;
    line-height: 30px;
}
.home-list li:hover span {
    color: white;
    transition: 0.4s;
}
.aside-top .home-list {
    margin: 20px 0;
}
.aside-top .home-list img {
    width: 25px;
}
.aside-top .playlist {
    width: 90%;
}
.aside-top .p-list {
    height: 177px;
    overflow-y: auto;
}
.aside-top .playlist h3 {
    text-transform: uppercase;
    margin-bottom: 8px;
}
.aside-top .playlist .create-playlist {
    margin-bottom: 8px;
}
.aside-top .playlist .create-playlist i {
    font-size: 30px;
    vertical-align: middle;
    color: gray;
}
.aside-top .playlist .create-playlist span {
    font-size: 14px;
    font-weight: 500;
    color: gray;
}
.aside-top .playlist .create-playlist:hover span {
    color: white;
    transition: 0.4s;
}
.aside-top .playlist .p-list li:hover span {
    color: white;
    transition: 0.4s;
}
.aside-bottom .download img {
    width: 15px;
}
.aside-bottom .download span {
    font-size: 10px;
}
.aside-bottom .download:hover span {
    color: white;
    transition: 0.4s;
}
.aside-bottom .user-icon img {
    width: 24px;
    height: 24px;
    background-color: gray;
    border-radius: 50%;
}
.aside-bottom .user-icon span {
    font-size: 13px;
    font-weight: 600;
    color: white;
}
/* main right */
.main-right {
    width: calc(100% - 45px);
    height: 100%;
    background: #141922;
    overflow-y: auto;
}
.topbar {
    width: calc(100% - 45px);
    height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    z-index: 9999;
}
.topbar .upgrade-flex {
    display: flex;
    justify-content: flex-end;
}
.topbar .upgrade-btn {
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 2rem;
    padding: 10px 22px;
}
.navbar {
    width: 100%;
    background: #141922;
    margin-top: 60px;
}
.nav-container {
    width: 100%;
    height: 100%;
}
nav {
    text-align: center;
}
.nav-list li {
    display: inline-block;
    margin: 10px;
}
.nav-list li a{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: gray;
}
.nav-list li:hover a{
    color: white;
    transition: 0.4s;
}
.nav-list .green-line {
    visibility: hidden;
    width: 35px;
    height: 2px;
    background-color: lime;
    cursor: pointer;
    margin: 5px auto 0;
}
.nav-list li:hover .green-line {
    visibility: visible;
}
.main-content {
    padding: 20px;
}
.main-content .row-title {
    padding-left: 8px;
}
.main-content .item {
    width: calc(50% - 18px);
    margin: 8px;
}
.main-content .item .album-img {
    position: relative;
    cursor: pointer;
}
.main-content .item .album-img img {
    width: 100%;
}
.main-content .item .album-description {
    text-align: center;
    padding: 5px;
}
.album-description h3 {
    margin-bottom: 5px;
}
.play-btn::before {
    font-family: 'Font Awesome 5 free';
    content: "\f144";
    font-weight: 400;
    color: #fff;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    transition: display 0.3s;
}
.album-img:hover .play-btn::before {
    display: inline-block;
}
.album-img:hover img {
    filter: brightness(0.5);
    transition: filter 0.3s;
}




/* FOOTER */
footer {
    width: 100%;
    height: 75px;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9998;
}
.player-container {
    height: 100%;
    display: flex;
    padding: 0 5px;
}
.player-container i {
    color: white;
}
.playbar .bar{
    width: 40px;
    height: 3px;
    background-color: gray;
    border-radius: 2rem;
    margin-right: 10px;
}
.player-left {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.player-left .current-album-img img {
    width: 25px;
}
.player-left .current-album h4 {
    font-size: 12px;
    color: white;
}
.player-left .current-album p {
    font-size: 8px;
}
.player-left .favourite-folder-icon i {
    font-size: 14px;
    color: gray;
    display: block;
}
.player-left > div {
    margin: 0 5px;
}
.player-right {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.player-right .right-icons i {
    font-size: 12px;
    margin: 5px;
}
.player-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 3;
}
.player-center .control-bar {
    display: flex;
    align-items: center;
}
.playbar .bar.minute-bar {
    width: 150px;
    margin: 0 15px;
}
.player-center .player-btn {
    line-height: 25px;
}
.player-center .player-btn i {
    font-size: 13px;
    vertical-align: middle;
    margin: 10px 10px ;
}
.player-center .player-btn i.fa-play-circle {
    font-size: 25px;
}
.player-center .control-bar span.minute {
    font-size: 10px;
    font-weight: 600;
    color: white;
}



@media screen and (min-width: 576px) {
    .disappear {
        display: inline-block; 
    }
    .main-aside {
        min-width: 200px;
        min-height: 400px; 
        padding: 10px;
    }
    .aside-top, .aside-bottom {
        align-items: flex-start;
    }
    .small-logo {
        display: none;
    }
    .big-logo {
        display: inline-block;
    }
    .main-right {
        width: calc(100% - 200px);
    }
    .topbar {
        width: calc(100% - 200px);
    }
    .player-left > div {
        margin: 0 10px;
    }
    .player-left .current-album-img img {
        width: 50px;
    }
    .player-left .current-album h4 {
        font-size: 15px;
    }
    .player-left .current-album p {
        font-size: 10px;
    }
    .playbar .bar.minute-bar {
        width: 170px;
    }
}


@media screen and (min-width: 768px) {
    .main-content .item {
        width: calc(25% - 18px);
        margin: 8px;
    }
    .player-left .favourite-folder-icon i {
        display: inline-block;
    }
    .playbar .bar{
        width: 80px;
    }
    .playbar .bar.minute-bar {
        width: 250px;
    }
}


@media screen and (min-width: 992px) {
    .row {
        flex-wrap: nowrap;
    }
    .main-content .item {
        width: calc(100% / 6 - 18px);
    }
    .player-left .favourite-folder-icon i {
        font-size: 18px;
    }
    .player-right .right-icons i {
        font-size: 18px;
    }
    .player-center .player-btn i {
        font-size: 18px;
        margin: 10px 15px ;
    }
}

